<section id="navBar">
  <nav id="nav" class="navbar fixed-top navbar-expand-lg navbar-light overflow-hidden">
    <div class="container-fluid">
      <a class="navbar-brand px-2" href="#">
        <img src="../assets/images/logo.png" alt="" width="90" height="40">
      </a>
      <button class="navbar-toggler" id="menu-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="text nav-link active" aria-current="page" (click)="scrollToTarget('.landingPage')">Home</a>
          <a class="text nav-link" (click)="scrollToTarget('.about')">About</a>
          <a class="text nav-link" (click)="scrollToTarget('.mission')">Mission</a>
          <a class="text nav-link" (click)="scrollToTarget('.values')">Our Values</a>
          <a class="text nav-link" (click)="scrollToTarget('.service')">Services</a>
          <a class="text nav-link" (click)="scrollToTarget('.contact')">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</section>

<!-- landingpage -->

<section id="landingPage" class="landingPage herofly">
  <div class="container-fluid landpage d-flex align-items-center">
    <div class="row bgwrap">
      <div class="col-12 col-sm-12 col-md-12 text-center">
        <h1 class="text-white">
          We Care at NuCare
        </h1>
      </div>
    </div>
  </div>
</section>

<!-- about -->
<section id="about" class="about">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6 aboutBox d-flex align-items-center">
        <div class="aboutContent">
          <h1 class="mb-4 abtTitle">
            About Us
          </h1>
          <p>
            <b>NuCare</b> Sdn Bhd is an investment holding company, engaged in the operation of community pharmacy
            dealing in
            the retail of pharmaceutical, healthcare, and personal care products. These include scheduled drugs,
            over-the-counter drugs, health supplements, personal care products, healthcare devices, healthy food,
            confectionery, beverages, and household products.
          </p>
          <p>
            We are a start up in Penang, Malaysia, the first Pharmacy in the bustling new township of Bandar Cassia,
            Batu Kawan. We pride ourselves in providing holistic personal patient care. Our customers are ensured of a
            fresh new (Nu) approach to their pharmacy needs.
          </p>
        </div>
      </div>
      <div class="col-md-6 imgpad d-flex align-items-center">
        <img src="../assets/images/bg9.webp" class="abtimg imgprop bs1" alt="">
      </div>
    </div>
  </div>
</section>

<section id="mission" class="mission mt-5 align-items-center d-flex">
  <div class="container-fluid missionpad">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <div class="missioncontent">
          <h2>
            Our Vision
          </h2>
          <p class="pb-5">
            Reaching people and touching lives as a leading provider of valued medicines and services.
          </p>
          <h2>
            Our Mission
          </h2>
          <p class="text-justify">
            NuCare is passionately committed to providing diverse pharmacy and other health care products and
            services, emphasizing on service excellence, innovation and cost-effectiveness for the benefit of our
            patients.We aim to be an advocate of healthy lifestyles to the communities we serve and to create an amazing
            work environment offering career advancement opportunities for our dedicated team members.
          </p>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="../assets/images/bg2.webp" class="bs1 imgprop" height="85%" width="85%" alt="">
      </div>
    </div>
  </div>
</section>
<section id="values" class="values  mb-5">
  <div class="container-fluid">
    <h1 class="text-center mb-3">
      Our Values
    </h1>
    <div class="mt-4 row row-cols-1 row-cols-md-3 g-0">
      <div class="col">
        <div class="card p-5 h-100 text-white bgc1">
          <div class="card-body">
            <h5 class="card-title">01</h5>
            <h5 class="card-title fw-bold">Quality</h5>
            <p class="card-text">Get it right the first time.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-5 h-100">
          <div class="card-body">
            <h5 class="card-title">02</h5>
            <h5 class="card-title fw-bold">Reliability</h5>
            <p class="card-text">Maintain efficiency & discipline in all processes & systems and fulfil the promises
              made to stakeholders & customers.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-5 h-100 text-white bgc1">
          <div class="card-body">
            <h5 class="card-title">03</h5>
            <h5 class="card-title fw-bold">Trust</h5>
            <p class="card-text">Always transparent in dealings with people.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-5 h-100">
          <div class="card-body">
            <h5 class="card-title">04</h5>
            <h5 class="card-title fw-bold">Consistency</h5>
            <p class="card-text">Endeavour to bring new products to the market & consistently deliver value to
              stakeholders.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-5 h-100 text-white bgc1">
          <div class="card-body">
            <h5 class="card-title">05</h5>
            <h5 class="card-title fw-bold">Innovation</h5>
            <p class="card-text">Implement new ideas & technologies to meet unmet needs and move ahead of times.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card p-5 h-100">
          <div class="card-body">
            <h5 class="card-title">06</h5>
            <h5 class="card-title fw-bold">Why us?</h5>
            <p>
              True to our motto ‘WE BEFORE ME‘ we care for the well being of others. While maximizing shareholder value,
              we pledge to be socially responsible. A portion of our profits will be given away to the less fortunate
              who can always expect to be beneficiaries of affirmative action policy. NuCare is committed to
              transparency in all its transactions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="service" class="service">
  <h1>
    Nucare Services
  </h1>
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-4 text-md-end d-flex align-items-center">
        <div class="row g-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted">01</h5>
                <h5 class="card-title fw-bold">Fast and Friendly Assistance.
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted">02</h5>
                <h5 class="card-title fw-bold">Competitive pricing.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted">03</h5>
                <h5 class="card-title fw-bold">Self-Pickup(drive-thru) for pre-orders.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted">04</h5>
                <h5 class="card-title fw-bold">Free delivery within Penang (limited to certain radius).</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <img src="../assets/images/bg4.webp" class="bs1" width="100%" height="100%" alt="">
      </div>

      <div class="col-md-4 d-flex align-items-center">
        <div class="row g-5">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted">05</h5>
                <h5 class="card-title fw-bold">Free membership and redemption benefits.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted">06</h5>
                <h5 class="card-title fw-bold">Free Nutrition and Medical consultation.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted">07</h5>
                <h5 class="card-title fw-bold">Free blood pressure checkup.</h5>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted">08</h5>
                <h5 class="card-title fw-bold">Advendist bread available for pre-orders twice weekly.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt-5 serviceColumn" id="services">
    <div class="row text-center">
      <div class="col-12 col-sm-4 col-md-1"></div>
      <div class="col-12 col-sm-10 col-md-2">
        <div class="iconbox">
          <div class="iconwrapper">
            <i class='fas fa-pills'></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><b>Prescription Filling & Refilling </b>
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-2 ">
        <div class="iconbox">
          <div class="iconwrapper">
            <i class="fa fa-medkit"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><b>Pharmacist Counselling</b>
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-2 ">
        <div class="iconbox">
          <div class="iconwrapper">
            <i class="fa fa-heartbeat"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><b>Supplements & Organic Health Food</b>
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-2">
        <div class="iconbox">
          <div class="iconwrapper">
            <i class='fas fa-receipt'></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><b>Health Screening</b>
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-md-2 ">
        <div class="iconbox">
          <div class="iconwrapper">
            <i class="fa fa-wheelchair"></i>
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title"><b>Rehabilitation</b>
          </h5>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-1"></div>
    </div>
  </div>

</section>

<section class="contact" id="contact">
  <h1 class="h1 text-center">Contact</h1>
  <div class="container mt-5">
    <div class="row g-0 bshadow">
      <div class="col-md-4">
        <div class="container-fluid">
          <div class="row g-0">
            <div class="card p-3 text-center">
              <div class="col-md-12 p-3">
                <div class="iconbox">
                  <div class="iconwrapper">
                    <i class="fa-solid fa-phone"></i>
                  </div>
                </div>
                <p>
                  <a href="tel:0129110065">012-9110065</a>
                </p>
              </div>
              <div class="col-md-12 p-3">
                <div class="iconbox">
                  <div class="iconwrapper">
                    <i class="fa-solid fa-location-dot"></i>
                  </div>
                </div>
                <p>
                  62-G Jalan Vervea 13, Bandar Cassia,<br />14110 Simpang Ampat, Penang,<br /> Malaysia
                </p>
              </div>
              <div class="col-md-12 p-3">
                <div class="iconbox">
                  <div class="iconwrapper">
                    <i class="fa-solid fa-envelope"></i>
                  </div>
                </div>
                <p>
                  <a href="mailto:nucarepharma88@gmail.com">nucarepharma88@gmail.com</a>
                  <br />
                  <a href="mailto:contactus@nucaremed.com.my">contactus@nucaremed.com.my</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.1522746895407!2d100.43803324815164!3d5.23876172103965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ab9290c7a881d%3A0xab11688a6dfba1fd!2s62-G%2C%20Jln%20Vervea%2013%2C%20Bandar%20Cassia%2C%2014110%20Simpang%20Ampat%2C%20Pulau%20Pinang%2C%20Malaysia!5e0!3m2!1sen!2sin!4v1655300836417!5m2!1sen!2sin"
          width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>

<footer>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#e4f1ed" fill-opacity="1"
      d="M0,224L48,218.7C96,213,192,203,288,208C384,213,480,235,576,240C672,245,768,235,864,208C960,181,1056,139,1152,122.7C1248,107,1344,117,1392,122.7L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
  </svg>
  <div class="footer">
    <div class="container">
      <img src="../assets/images/logo.png" class="pb-2" alt="">
      <div class=" row g-4">
        <div class="col-sm-12 col-md-4">
          <p id="lnpad">
            We aim to provide our customers with a fresh New (Nu) approach to pharmacy needs.
            We pride ourselves on personal patient care both medically and holistically.
            We are passionately committed to providing diverse pharmacy and other health care products and services.
          </p>
          <div class="social-links">
            <a class="twitter click"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://wa.me/0129110065" class="linkedin click"><i class="fa-brands fa-whatsapp"></i></a>
            <a class="facebook click"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/nucarepharma/?igshid=YmMyMTA2M2Y=" class="instagram click"><i
                class="fa-brands fa-instagram"></i></a>
            <a class="google-plus click"><i class="fa-brands fa-google"></i></a>
            <a class="linkedin click"><i class="fa-brands fa-linkedin"></i></a>

          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <h3>
            Quick Links
          </h3>
          <ul>
            <li class="click" (click)="scrollToTarget('.landingPage')">Home</li>
            <li class="click" (click)="scrollToTarget('.about')">About</li>
            <li class="click" (click)="scrollToTarget('.mission')">Mission</li>
            <li class="click" (click)="scrollToTarget('.values')">Our Values</li>
            <li class="click" (click)="scrollToTarget('.service')">Services</li>
            <li class="click" (click)="scrollToTarget('.contact')">Contact</li>
          </ul>
        </div>
        <div class="col-sm-12 address col-md-5">
          <h3>
            NuCare Pharmacy Sdn Bhd
          </h3>
          <h5 class="text-dark">
            ADMIN OFFICE:
          </h5>

          <p>
            LOT 166, Tingkat Atas , Jalan Putra D,
            Kilang Lama, 09000 Kulim, Kedah, Malaysia
          </p>
          <h5 class="text-dark">HQ PHARMACY:</h5>
          <p>
            Batu Kawan Branch: 62-G Jalan Vervea 13,
            Bandar Cassia,14110 Simpang Ampat, Penang, Malaysia
          </p>

          <h5 class="text-dark">
            BRANCHES:
          </h5>
          <p>
            22-L Mukim 14,Jalan Paya Terubung
            Paya Terubong,11060 Ayer Itam, Pulau Pinang.
          </p>
          <p>
            <a href="tel:0129110065">
              <button class="butn "><b>Contact Us</b></button>
            </a><br>
            <a href="../assets/pdf1/NuCare Industrial Supply Catalog .pdf" download><button type="button"
                class="butn"><b>Download Catalogue</b></button></a>
          </p>
        </div>
      </div>
    </div>
    <p class="text-center f14 m-0">
      Copyright © 2022 <b>NuCare Pharmacy</b> Sdn Bhd
      <!--a href="http://www.rsinfosolution.in/">Rsinfosolution</a-->. All Rights Reserved
    </p>
  </div>

</footer>

<a class="back-to-top click" (click)="scrollToTarget('.landingPage')" [ngClass]="{'show-scrollTop': windowScrolled}">
  <i class="fa-solid fa-angle-up"></i>
</a>